* {
  font-family: "Microsoft Yahei";
  justify-items: center;
  align-items: center;

  margin: 0px;
  box-sizing: border-box;
}

body {
  /* background: url(/R-C.jpg); */
  background-color: #000;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

p {
  color: #fff;
}
.顶栏 {
  width: 100%;
  height: 150px;
}

#顶栏上层 {
  /* background-color: aqua; */
  width: 100%;
  height: 62%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 18%;
}

#顶栏下层 {
  display: flex;
  height: 100%;
  font-weight: bolder;
  width: 300px;
  justify-content: space-between;
  padding: 0 15%;
  align-items: center;

  width: 100%;
  height: 38%;
}

#logo容器 {
  display: flex;
  height: 100%;
  justify-items: center;
  align-items: center;
}

#logo图片容器 {
  height: 50%;
  aspect-ratio: 1;
  overflow: hidden;
}

#logo图片容器 > img {
  width: 100%;
  height: 100%;
}

#logo容器 > p {
  font-size: 1.8em;
  font-weight: bolder;
  display: flex;
  align-items: center;
}

#logo容器 > p > span {
  font-size: 2em;
}
#上层菜单 {
  display: flex;
  font-weight: bolder;

  height: 100%;
  width: 300px;
  justify-content: space-around;
  align-items: center;
}

#上层菜单 > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-decoration: none;
  color: rgb(255, 255, 255);
  flex-grow: 1;
  transition: 2s;
}

#上层菜单 > a:hover {
  background-color: rgba(218, 37, 53, 0.5);
  color: rgb(255, 255, 255);
  /* text-shadow: 0px 0px 5px hotpink,0px 0px 5px hotpink; */
}

#顶栏下层 > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-decoration: none;
  color: rgb(255, 255, 255);
  flex-grow: 1;
  padding: 0 2%;
  font-size: 0.9em;
}

#顶栏下层 > a:hover {
  background-color: hotpink;
  color: rgb(255, 255, 255);
}

.广告区 {
  width: 100%;
  height: 550px;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 15px 0 rgba(15, 15, 15, 0.1);
}

#图像容器 {
  width: 80%;
  height: 800px;
  display: flex;
  justify-content: left;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  margin: 0 150px;
}

.图像容器 > img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  transition: 1s;
}

.图像容器 > img:hover {
  transform: scale(1.2);
}

.广告图简介 {
  width: 100%;
  height: 15%;
  background-color: rgba(52, 106, 156, 0.35);
  position: absolute;
  bottom: 0;
  border-radius: 0 0 4px 4px;
  color: azure;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10%;
  font-weight: bolder;
  font-size: 1.1rem;
}
body.dark-theme {
  --first-color-send: #161212;
  --title-color: #f3f1f1;
  --text-color: #d1c7c8;
  --body-color: #251d1e;
  --container-color: #302728;
}

/*========== Button Dark/Light ==========*/
.change-theme {
  position: absolute;
  right: 1.5rem;
  top: 2.2rem;
  display: flex;
  color: var(--title-color);
  font-size: 2rem;
  cursor: pointer;
}

.精选视频区 {
  width: 100%;
  height: 300px;
}

.精选视频实际内容 {
  width: 70%;
  height: 100%;
  /* background-color: brown; */
  margin: 0 auto;
}

.精选视频标题 {
  width: 100%;
  height: 30%;
  /* background-color: blue; */
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
}

.精选视频内容 {
  width: 100%;
  height: 75%;

  display: flex;
}

.视频 {
  width: 30%;
  height: 100%;
  /* background-color: cadetblue; */
  margin: 0 30px;
}

.视频 > img {
  width: 100%;
  height: 75%;
  border-radius: 10px;
  object-fit: cover;
  transition: 1s;
  /* background-color: aquamarine; */
}

.视频 > p {
  width: 100%;
  height: 20%;
  font-weight: bolder;
  display: flex;
  align-items: center;

  /* background-color: violet; */
}
.视频 > img:hover {
  transform: scale(1.2);
  filter: contrast(150%);
}

.shell {
  height: 100vh;
  overflow-x: hidden;
  perspective: 3px;
}
.shell div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: 30px;
  letter-spacing: 2px;
}
.image {
  transform: translateZ(-1px) scale(1.6);
  background-size: cover;
  height: 100vh;
  z-index: -1;
}
.text {
  height: 50vh;
  background-color: #b3b3b3;
}
.text h1 {
  color: #000;
}
.heading {
  z-index: -1;
  transform: translateY(-30vh) translateZ(1px);
  color: #fff;
  font-size: 30px;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn {
  position: relative;
  display: block;
  color: white;
  font-size: 17px;

  font-weight: bolder;
  font-family: "微软雅黑";
  text-decoration: none;
  margin: 70px 0;
  border: 2px solid #7e1010;
  padding: 20px 120px;
  text-transform: uppercase;
  overflow: hidden;
  transition: 1s all ease;
}
.btn::before {
  background: #c94040;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: all 0.6s ease;
}

.btn1::before {
  width: 0;
  height: 100%;
}

.btn1:hover::before {
  width: 100%;
}
.btn2::before {
  width: 100%;
  height: 0;
}
.btn2:hover::before {
  height: 100%;
}

.btn3::before {
  width: 100%;
  height: 0;
  transform: translate(-50%, -50%) rotate(45deg);
}
.btn3:hover::before {
  height: 380%;
}
.btn4::before {
  width: 100%;
  height: 0;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.btn4:hover::before {
  height: 380%;
}
